<div class="site-stat-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">公众号配置</h3>
        </div>
        <div class="list-group">
            <a class="list-group-item" routerLink="/gzh/config">
                <i aria-hidden="true" class="fa fa-cogs"></i> 配置
            </a>
            <a class="list-group-item" routerLink="/gzh/button">
            	<i aria-hidden="true" class="glyphicon glyphicon-bold"></i> 自定义按钮
            </a>
            <a class="list-group-item" routerLink="/gzh/media">
                <i aria-hidden="true" class="fa fa-video-camera"></i> 素材管理
            </a>
            <a class="list-group-item" routerLink="/gzh/user">
                <i aria-hidden="true" class="fa fa-user-circle-o"></i> 用户管理
            </a>
        </div>
    </div>
</div>