:host ::ng-deep .ui-growl {
	top: 50px;
	opacity: .8;
}

/* public start */
.center {
	text-align: center;
}
.right {
	float: right;
}
.left {
	float: left;
}
a {
	text-decoration: none;
	color: #1b1d1f;
}
/* public end */

/* img start */
.img-min {
	height: 98px;
	width: 98px;
}
/* img end */